[push]
	default = simple
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	kill = "checkout -- "
[user]
	email = robertquitt@gmail.com
	name = Robert Quitt
